@import "common.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    padding: 0;
    margin: 0;
    --radius: 18px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --search-font: 'Roboto';
    --button-size: 28px;
    user-select: none;
}

/* --- By selector --- */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*  Flexbox my beloved  */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;
}

#topbar {
    display:            flex;
    flex-direction:     row;
    height:             38px;
    margin:             0;
    padding-left:       8px;
    padding-right:      8px;
    font-family:        var(--font-family);
    color:              var(--ui8);
    background-color:   var(--ui2);
    border-bottom:      1px solid var(--ui5);
}

#content {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* ---- By class ---- */

.control {
    border-radius:      var(--radius);
    -webkit-border-radius:  var(--radius);
    transition:         background-color .1s ease;
    display:            inline-block;
    border:             0;
    padding:            0;
    margin:             auto 2px;
}

#urlbar {
    background-color:   var(--ui0);
    color:              var(--fg);
    width:              100%;
    height:             var(--button-size);
    margin:             auto 8px;
    padding-left:       12px;
    padding-right:      12px;
    font-size:          14px;
    font-family:        var(--font-family);
    letter-spacing:     0px;
}

#urlbar:hover {
    background-color:   var(--ui1);
}

#urlbar:focus {
    outline: 2px solid var(--blue);
}

button.control {
    color:              var(--ui7);
    background-color:   var(--ui2);
    font-size:          16px;
    width:              var(--button-size);
    height:             var(--button-size);
    flex-shrink:        0;
    flex-grow:          0;
    text-align:         center;
    vertical-align:     middle;
}

button.control:hover {
    color:              var(--ui8);
    background-color:   var(--ui3);
}

button.control:active {
    color:              var(--ui8);
    background-color:   var(--ui4);
}

.material-icons {
    /* font-size: 22px; */
    margin-top: 2px;
}
