@import "common.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --span-radius:  4px;

    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

    /* Document styling */
    font-family: var(--font-sans);
    font-size: 14px;
    padding: 0 32px;
}

body {
    max-width: 720px;
    margin: auto;
    /* background-color: #191b1c; */
    background-color: var(--bg);
    color: var(--fg);
}

a, a:visited, a:hover {
    color: var(--links);
}

h1 {
    font-size: 3rem;
}

code {
    font-family: var(--font-mono);
}

hr {
    border: 1px solid var(--background);
    border-radius: 2px;
}

/* === Version page IDs === */

.about-page {
    user-select: none;
}

.about-page code {
    color: var(--foreground);
    background-color: var(--background);
    border-radius: var(--span-radius);
}

.about-warning {
    color: var(--info);
    font-size: 0.8rem;
}

#about-table th {
    text-align: right;
}
